
input{
  line-height: 1.9rem;
  width: 60%;
  border-radius: 5px;
  font-size: 1.2rem;
  box-shadow: 4px 4px 4px black;
}


.full {
  padding-top: 10px;
  font-family: Helvetica;
  background-color: gold;
  width: 500px;
  display: table;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 4px 4px 4px blue;
  margin-top: 200px;
  height: 500px;
}

div:nth-child(even) {
  background-color: blue;
}


button {
  background-color: blue;
  color: white;
  border-radius: 5px;
  line-height: 1.5rem;
  font-size: 1.2rem;
  margin-left: 50px;
  box-shadow: 4px 4px 4px black;

}

#toDoList{
  margin-top: 10px;
  border-top: 1px solid #aaa;
}

.items {
  background-color: gold;
  display: block;
  text-align: left;
  font-size: 1.2rem;
  color: #555;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.completed{
  text-decoration: line-through;
}
